.email-label-create-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: min(400px, 80vw);
}

.email-label-create-form-field {
    display: flex;
    flex-direction: column;
}

.email-label-create-form-field label {
    margin-bottom: 4px;
}

.email-label-create-form-field input {
    padding: 3px;
    font-size: 14px;
}

.email-label-create-form-field-errors {
    opacity: 0;
    height: 14px;
    color: rgb(221, 75, 57);
}

.email-label-create-form-field-errors.visible {
    opacity: unset;
}
.email-label-create-form-actions {
    flex-grow: 0;
    align-self: flex-end;
    display: flex;
    gap: 8px;
}
