.email-compose {
    position: fixed;
    bottom: 0;
    right: 30px;
    padding: 20px;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12),
        0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 600px;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
}

.email-compose-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.email-compose-actions {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.email-compose-field {
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    display: flex;
}

.email-compose-field > label {
    padding-inline-end: 6px;
}

.email-compose-field > input,
textarea {
    border: none;
    flex-grow: 1;
}

.email-compose-field > textarea {
    resize: none;
    width: 100%;
    flex-grow: 1;
}

.email-compose-field.body {
    flex-grow: 1;
}

.email-compose-field > input:focus,
textarea:focus {
    outline: none;
}
