.email-details-actions {
    padding: 10px 0;
    background-color: #f3f6fa;
    display: flex;
    gap: 10px;
    align-items: center;
}

.email-details-action-back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-details-action-back img {
    width: 15px;
    height: 15px;
}

.email-details-action-delete {
    width: 15px;
    height: 15px;
}

.email-details-subject {
    font-size: 20px;
    padding: 20px 0;
}

.email-details-metadata {
    font-size: 14px;
    padding-bottom: 20px;
}

.email-details-metadata-label {
    text-align: right;
    color: grey;
}
