.email-details-loading {
    flex-grow: 1;
    background-color: white;
    z-index: 10;
}

.email-details {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.email-details-actions {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.email-details-content {
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

.email-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-details-subject {
    font-size: 20px;
    padding: 20px 0;
}

.email-details-sent-at {
    font-size: 90%;
    color: grey;
}

.email-details-metadata {
    font-size: 14px;
    padding-bottom: 20px;
}

.email-details-metadata-label {
    text-align: right;
    color: grey;
}
