.email-index {
    background-color: #f6f8fc;
    display: flex;
}

.email-index-main {
    background-color: white;
    flex-grow: 1;
    min-width: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
