.email-index {
    height: 100%;
    background-color: #f6f8fc;
    display: grid;
    grid-template-areas:
        'header               search'
        'email-compose-button email-index-main'
        'email-folders        email-index-main';
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 256px 1fr;
}

.email-index-main {
    grid-area: email-index-main;
    background-color: white;
    margin-bottom: 16px;
    margin-inline-end: 16px;
    flex-grow: 1;
    min-width: 0;
    border-radius: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-index {
        grid-template-areas:
        'hamburger        header           email-compose-button'
        'email-index-main email-index-main email-index-main    ';
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 50px 1fr auto;
    }

    .email-index-main {
        margin: 0;
        border-radius: 0;
    }

    .hamburger-menu-button {
        grid-area: hamburger;
        align-self: center;
        justify-self: center;
    }
}
