.email-compose-dialog {
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: 2;
    width: 600px;
    height: 57%;
}

.email-compose-dialog.minimized {
    height: unset;
}

.email-compose-dialog.fullscreen {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-compose {
    height: 100%;
    background-color: white;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12),
        0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.email-compose-dialog.fullscreen > .email-compose {
    height: 90%;
    width: 80%;
    border-radius: 8px;
}

.email-compose-topbar {
    background-color: #f3f6fc;
    color: rgb(4, 30, 73);
    height: 40px;
    padding-inline-start: 16px;
    padding-inline-end: 12px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.email-compose-topbar-actions {
    display: flex;
    gap: 4px;
}

.email-compose-topbar-action {
    width: 16px;
    height: 16px;
}

.email-compose-topbar-action:hover {
    background-color: rgba(68, 71, 70, 0.08);
}

.email-compose-topbar-action.minimize {
    content: url('//ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_minimize_16px_1x.png');
}

.email-compose-dialog.minimized .email-compose-topbar-action.minimize {
    content: url('//ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_maximize_16px_1x.png');
}

.email-compose-topbar-action.fullscreen {
    content: url('//ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_open_in_full_16px_1x.png');
}

.email-compose-topbar-action.exit-fullscreen {
    content: url('//ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_close_fullscreen_16px_1x.png');
}

.email-compose-topbar-action.close {
    content: url('//ssl.gstatic.com/ui/v1/icons/mail/rfr/ic_close_16px_1x.png');
}

.email-compose-form {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.email-compose-dialog.minimized .email-compose-form {
    display: none;
}

.email-compose-actions {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.email-compose-field {
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
    display: flex;
}

.email-compose-field > label {
    padding-inline-end: 6px;
}

.email-compose-field > input,
textarea {
    border: none;
    flex-grow: 1;
}

.email-compose-field > textarea {
    resize: none;
    width: 100%;
    flex-grow: 1;
}

.email-compose-field.body {
    flex-grow: 1;
}

.email-compose-field > input:focus,
textarea:focus {
    outline: none;
}
