/* Basics */
@import 'basics/base.css';

/* Pages */
@import 'pages/home.css';
@import 'pages/about.css';
@import 'pages/email-index.css';
@import 'pages/email-details.css';
@import 'pages/email-compose.css';

/* Components */
@import 'cmps/small-action-button.css';
@import 'cmps/app-header.css';
@import 'cmps/email-sidebar.css';
@import 'cmps/email-filter.css';
@import 'cmps/email-list.css';
@import 'cmps/email-preview.css';
