@import url('https://fonts.googleapis.com/css?family=Google+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=RobotoDraft');

body {
    font-family: 'Google Sans', 'Roboto', 'RobotoDraft', Helvetica, Arial,
        sans-serif;
    background-color: #f6f8fc;
    font-size: 0.875rem;
    color: rgb(32, 33, 36);
    margin: 0;
    height: 100vh;
    user-select: none;
}

button {
    cursor: pointer;
    font-family: unset;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.app {
    height: 100vh;
}

.large-button {
    margin: 8px;
    height: 40px;
    border-radius: 16px;
    color: #001d35;
    background-color: #c2e7ff;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-button:hover {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.strong-action-btn {
    height: 36px;
    border-radius: 18px;
    background-color: rgb(11, 87, 208);
    color: white;
    font-weight: 500;
    padding: 0 20px;
}

.strong-action-btn:hover {
    box-shadow: rgba(26, 115, 232, 0.45) 0px 1px 2px 0px,
        rgba(26, 115, 232, 0.3) 0px 1px 3px 1px;
}

.weak-action-btn {
    background-color: transparent;
    height: 36px;
    border-radius: 18px;
    color: rgb(68, 71, 70);
    font-weight: 500;
    padding: 0 20px;
}

.weak-action-btn:hover {
    background-color: rgba(32, 33, 36, 0.06);
}

img.icon-delete {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_baseline_nv700_20dp.png);
}

img.icon-unread {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/mail_baseline_nv700_20dp.png);
}

img.icon-read {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/drafts_baseline_nv700_20dp.png);
}

img.icon-unstarred {
    content: url(https://www.gstatic.com/images/icons/material/system_gm/1x/star_border_black_20dp.png);
}

img.icon-starred {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_googyellow500_20dp.png);
}

img.icon-back {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/arrow_back_baseline_nv700_20dp.png);
}

img.icon-checked {
    content: url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_baseline_nv700_20dp.png);
}

img.icon-unchecked {
    content: url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_outline_blank_baseline_nv700_20dp.png);
}

img.icon-create {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/add_large_baseline_nv700_20dp.png);
}

img.icon-close {
    content: url(https://www.gstatic.com/images/icons/material/system/1x/close_black_24dp.png);
}

img.icon-label {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/label_baseline_nv700_20dp.png);
}
