@import url('https://fonts.googleapis.com/css?family=Google+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=RobotoDraft');

body {
    font-family: 'Google Sans', 'Roboto', 'RobotoDraft', Helvetica, Arial,
        sans-serif;
    background-color: #f6f8fc;
    font-size: 0.875rem;
    color: rgb(32, 33, 36);
    margin: 0;
    height: 100vh;
}

button {
    cursor: pointer;
    font-family: unset;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.app {
    height: 100vh;
}

.large-button {
    margin: 8px;
    height: 40px;
    border-radius: 16px;
    color: #001d35;
    background-color: #c2e7ff;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-button:hover {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
