body {
    font-family: Arial, Helvetica, sans-serif;
}

.app-topbar {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px 20px;
}

.app-topbar-title {
    margin: 0;
}

.app-content {
    padding: 10px 20px;
}
