.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px 20px;
}

.app-header h1 {
    margin: 0;
}

.app-header nav {
    display: flex;
    gap: 20px;
}
