.email-preview {
    font-weight: bold;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.email-preview:hover {
    border: 1px solid grey;
}

.email-preview-actions {
    display: none;
}

.email-preview:hover .email-preview-actions {
    display: flex;
}

.email-preview:hover .email-preview-sent-at {
    display: none;
}

.email-preview.read {
    background-color: #f1f6fc;
    font-weight: unset;
}

.email-preview-first-column {
    flex-basis: 20%;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.email-preview-draft {
    color: rgb(194, 0, 0);
    font-weight: 100;
}

.email-preview-link {
    flex-grow: 1;
    min-width: 0;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: unset;
    display: flex;
    align-items: center;
    gap: 5px;
}

.email-preview-subject {
    flex-grow: 1;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.email-preview-sent-at {
    color: grey;
    font-size: 85%;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-preview-link {
        flex-direction: column;
    }

    .email-preview-actions {
        display: flex;
    }

    .email-preview:hover .email-preview-sent-at {
        display: unset;
    }

    .email-preview-subject {
        font-size: 90%;
    }
}
