.email-preview {
    font-weight: bold;
    border: 1px solid transparent;
    padding: 0 10px;

    display: grid;
    grid-template-rows: 1fr;
    /* star, from/to, subject, date/actions */
    grid-template-columns: auto 200px 1fr auto;
    align-items: center;
    column-gap: 10px;
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    mix-blend-mode: multiply;
}

.email-preview-star {
    grid-area: 1 / 1 / span 1 / span 1;
}

.email-preview-actions {
    display: none;
    z-index: 3;
}

.email-preview:hover .email-preview-actions {
    grid-area: 1 / 4 / span 1 / span 1;
    display: flex;
}

.email-preview:hover .email-preview-sent-at {
    display: none;
}

.email-preview.read {
    background-color: #f1f6fc;
    font-weight: unset;
}

.email-preview-first-column {
    grid-area: 1 / 2 / span 1 / span 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.email-preview-draft {
    color: rgb(221, 75, 57);
    font-weight: 100;
}

.email-preview-link {
    grid-area: 1 / 2 / -1 / -1;
    align-self: stretch;
    justify-self: stretch;
    cursor: pointer;
    z-index: 2;
}

.email-preview-subject {
    grid-area: 1 / 3 / span 1 / span 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.email-preview-sent-at {
    grid-area: 1 / 4 / span 1 / span 1;
    color: grey;
    font-size: 85%;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    /* first and last row and column are for padding only while still being
       clickable (covered by .email-preview-link) */
    .email-preview {
        grid-template-rows: 10px auto auto 10px;
        grid-template-columns: 10px 1fr auto 10px;
        padding: 0;
        column-gap: 0;
        align-items: center;
        align-content: center;
    }

    .email-preview-link {
        grid-area: 1 / 1 / -1 / -1;
    }

    .email-preview-first-column {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    .email-preview-sent-at {
        grid-area: 2 / 3 / span 1 / span 1;
    }

    .email-preview-subject {
        grid-area: 3 / 2 / span 1 / span 1;
    }

    .email-preview-star {
        grid-area: 3 / 3 / span 1 / span 1;
        z-index: 3;
        justify-self: end;
    }

    .email-preview:hover .email-preview-actions {
        display: none;
    }

    .email-preview:hover .email-preview-sent-at {
        display: unset;
    }

    .email-preview-subject {
        font-size: 90%;
    }
}
