.email-preview {
    background-color: #fdfdfd;
    font-weight: bold;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.email-preview:hover {
    background-color: #f6f6f6;
    border: 1px solid grey;
}

.email-preview-hover-actions {
    display: none;
}

.email-preview:hover .email-preview-hover-actions {
    display: block;
}

.email-preview-hover-action-delete {
    width: 15px;
    height: 15px;
}

.email-preview.read {
    background-color: #ebeff8;
    font-weight: unset;
}

.email-preview-star-img {
    max-width: 15px;
    max-height: 15px;
}

.email-preview-link {
    flex-grow: 1;
    min-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: unset;
    display: flex;
}

.email-preview-subject {
    flex-grow: 1;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
