.email-filter {
    grid-area: search;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.email-filter-field {
    display: flex;
    gap: 7px;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-filter {
        display: none;
    }
}
