.email-list {
    list-style: none;
    padding: 0;
    padding-top: 24px;
    margin: 0;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-list {
        padding-top: 0;
    }
}
