.email-sidebar {
    width: 256px;
}

.email-sidebar-compose-button {
    margin: 8px;
    padding-inline-end: 20px;
    height: 40px;
    color: #001d35;
    width: 144px;
}

.email-sidebar-compose-button::before {
    content: url('https://www.gstatic.com/images/icons/material/system_gm/1x/create_black_20dp.png');
    margin-left: 8px;
    margin-right: 8px;
    height: 20px;
}

.email-sidebar-folders {
    margin-inline-end: 10px;
    display: flex;
    flex-direction: column;
}

/* Folder (Inbox, Sent, etc) */

.email-sidebar-folder {
    line-height: 20px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-inline-start: 24px;
    border-start-end-radius: 24px;
    border-end-end-radius: 24px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.email-sidebar-folder:hover {
    background-color: rgba(0, 0, 0, 0.052);
}

.email-sidebar-folder.active {
    font-weight: bold;
    background-color: #d3e3fd;
}

.email-sidebar-folder::before {
    height: 20px;
}

/* Inbox */

.email-sidebar-folder.inbox::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_baseline_nv700_20dp.png);
}

.email-sidebar-folder.inbox.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_fill_baseline_p900_20dp.png);
}

/* Sent */

.email-sidebar-folder.sent::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_baseline_nv700_20dp.png);
}

.email-sidebar-folder.sent.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_fill_baseline_p900_20dp.png);
}

/* Drafts */

.email-sidebar-folder.drafts::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/draft_baseline_nv700_20dp.png);
}

.email-sidebar-folder.drafts.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/draft_fill_baseline_p900_20dp.png);
}

/* Starred */

.email-sidebar-folder.starred::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_baseline_nv700_20dp.png);
}

.email-sidebar-folder.starred.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_baseline_p900_20dp.png);
}

/* All Mail */

.email-sidebar-folder.all::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/stacked_email_baseline_nv700_20dp.png);
}

.email-sidebar-folder.all.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/stacked_email_fill_baseline_p900_20dp.png);
}

/* Bin */

.email-sidebar-folder.bin::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_baseline_nv700_20dp.png);
}

.email-sidebar-folder.bin.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_fill_baseline_p900_20dp.png);
}
