.email-folders {
    grid-area: email-folders;
    margin-inline-end: 10px;
}

.email-folders-contents {
    display: flex;
    flex-direction: column;
}

/* Folder (Inbox, Sent, etc) */

.email-folder {
    line-height: 20px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-inline-start: 24px;
    border-start-end-radius: 24px;
    border-end-end-radius: 24px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.email-folder:hover {
    background-color: rgba(0, 0, 0, 0.052);
}

.email-folder.active {
    font-weight: bold;
    background-color: #d3e3fd;
}

.email-folder::before {
    height: 20px;
}

/* Inbox */

.email-folder.inbox::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_baseline_nv700_20dp.png);
}

.email-folder.inbox.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_fill_baseline_p900_20dp.png);
}

/* Sent */

.email-folder.sent::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_baseline_nv700_20dp.png);
}

.email-folder.sent.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_fill_baseline_p900_20dp.png);
}

/* Drafts */

.email-folder.drafts::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/draft_baseline_nv700_20dp.png);
}

.email-folder.drafts.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/draft_fill_baseline_p900_20dp.png);
}

/* Starred */

.email-folder.starred::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_baseline_nv700_20dp.png);
}

.email-folder.starred.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_baseline_p900_20dp.png);
}

/* All Mail */

.email-folder.all::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/stacked_email_baseline_nv700_20dp.png);
}

.email-folder.all.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/stacked_email_fill_baseline_p900_20dp.png);
}

/* Bin */

.email-folder.bin::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_baseline_nv700_20dp.png);
}

.email-folder.bin.active::before {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_fill_baseline_p900_20dp.png);
}

.email-folder-name {
    flex-grow: 1;
}

.email-folder-name.has-count {
    font-weight: bold;
}

.email-folder-count {
    padding-inline-end: 10px;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-folders {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
    }

    .email-folders.visible {
        display: flex;
        flex-direction: column;
    }

    .email-folders-contents {
        flex-grow: 1;
        width: 80%;
        height: 100%;
        background-color: rgb(236, 236, 236);
    }

    .email-folder {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-inline-end: 10px;
    }
}
