.email-sidebar {
    margin: 10px;
    padding: 10px;
    flex-basis: 20%;
}

.email-sidebar-folders {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-sidebar-folder.active {
    font-weight: bold;
}
