.email-filter {
    padding: 10px;
    display: flex;
    gap: 10px;
}

/* For small screens, change flex direction */
@media only screen and (max-width: 600px) {
    .email-filter {
        flex-direction: column;
        opacity: 1;
    }
}
