.email-preview {
    background-color: #fdfdfd;
    font-weight: bold;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.email-preview:hover {
    background-color: #f6f6f6;
    border: 1px solid grey;
}

.email-preview-actions {
    opacity: 0;
}

.email-preview:hover .email-preview-actions {
    opacity: 1;
}

.email-preview.read {
    background-color: #ebeff8;
    font-weight: unset;
}

.email-preview-from {
    flex-basis: 20%;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.email-preview-link {
    flex-grow: 1;
    min-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: unset;
    display: flex;
}

.email-preview-subject {
    flex-grow: 1;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

/* If the screen size is 600px wide or less, always show email preview actions */
@media only screen and (max-width: 600px) {
    .email-preview-actions {
        opacity: 1;
    }
}
