.email-list {
    list-style: none;
    padding: 0;
    padding-top: 24px;
    margin: 0;
    overflow-y: auto;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-list {
        border-top: 1px solid lightgray;
        padding-top: 0;
        margin: 0;
    }
}
