.email-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.email-list-top,
.email-list-bottom {
    padding-inline-start: 14px;
    height: 48px;
}

.email-list-top {
    display: flex;
    align-items: center;
}

/* Styling for small screens */
@media only screen and (max-width: 600px) {
    .email-list {
        border-top: 1px solid lightgray;
        padding-top: 0;
        margin: 0;
    }

    .email-list-top,
    .email-list-bottom {
        display: none;
    }
}
