.small-action-btn {
    flex-shrink: 0;
    background-color: unset;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
}

.small-action-btn:hover {
    background-color: rgba(32, 33, 36, 0.06);
}

.small-action-btn img {
    width: 20px;
    height: 20px;
}

.small-action-btn-delete img {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_baseline_nv700_20dp.png);
}

.small-action-btn-unread img {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/mail_baseline_nv700_20dp.png);
}

.small-action-btn-read img {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/drafts_baseline_nv700_20dp.png);
}

.small-action-btn-unstarred img {
    content: url(https://www.gstatic.com/images/icons/material/system_gm/1x/star_border_black_20dp.png);
}

.small-action-btn-starred img {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_googyellow500_20dp.png);
}

.small-action-btn-back img {
    content: url(https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/arrow_back_baseline_nv700_20dp.png);
}

.small-action-btn-checked img {
    content: url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_baseline_nv700_20dp.png);
}

.small-action-btn-unchecked img {
    content: url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/check_box_outline_blank_baseline_nv700_20dp.png);
}
