.small-action-btn {
    flex-shrink: 0;
    background-color: unset;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
}

.small-action-btn:hover {
    background-color: rgba(32, 33, 36, 0.06);
}

.small-action-btn img {
    width: 20px;
    height: 20px;
}
