.small-action-btn {
    flex-shrink: 0;
    background-color: unset;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
}

.small-action-btn:hover {
    background-color: #0000000e;
}

.small-action-btn img {
    width: 15px;
    height: 15px;
}
