.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    display: none;
    background-color: rgb(60, 64, 67);
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    text-wrap: nowrap;
    font-size: 12px;
    position: absolute;
    z-index: 10;
}

.tooltip:hover .tooltip-text {
    display: unset;
}
