.user-msg {
    position: fixed;
    bottom: 0;
    height: 52px;
    margin-inline-start: 24px;
    margin-block-end: 24px;
    padding-inline-start: 18px;
    padding-inline-end: 16px;
    column-gap: 18px;
    background-color: rgb(32, 33, 36);
    color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
    display: flex;
    align-items: center;
}

.user-msg.progress {
    font-style: italic;
}

.user-msg.error {
    background-color: rgb(182, 18, 18);
}

.user-msg-close-button {
    all: unset;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url('https://www.gstatic.com/images/icons/material/system_gm/1x/close_white_20dp.png');
    background-repeat: no-repeat;
    background-color: none;
    background-size: 20px;
    background-position: 50%;
    transition: background-color 0.5s;
}

.user-msg-close-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
